<form #form="ngForm">

  <div class="row">
    <mat-form-field class="col pr-0">
      <mat-label>Artículo</mat-label>
      <mat-select name="selectedItem" [(ngModel)]="selectedItem" required>

        <!--<mat-option *ngFor="let item of items" [value]="item.url">
          {{item.name}}
        </mat-option>-->

        <mat-optgroup *ngFor="let kv of categories | keyvalue" [label]="kv.value.name">
          <!--<mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
            {{pokemon.viewValue}}
          </mat-option>-->
          
          <ng-container *ngFor="let item of items">
            <mat-option *ngIf="item.category_id == kv.value.id" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </ng-container>
        </mat-optgroup>

      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary" class="my-auto" (click)="openItemSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <input name="quantity" [(ngModel)]="selectedQuantity" matInput placeholder="Cantidad" value="1" type="number"
        min="1" required>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" class="float-right" (click)="onSave()"
        [disabled]="!form.valid">Guardar</button>
    </div>
  </div>

</form>